@import "../generic-pane.scss";

.pane .programme {
  opacity: 0.5;
  transition: opacity ease 2s;
}

.pane.playing .programme {
  opacity: 1;
}

.track-info {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 2s;
  transform-origin: bottom left;
  transform: translate(10px, -10px);

  &.expanded {
    transform: translate(calc((100vw - 168px) / 2), calc((100vh - 168px) / -2)) scale(3);
  }
}

.station-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 33%;
}

.programme-description {
  font-size: smaller;
  color: #999;
  margin-bottom: 0;
}