<div class="pane mat-typography" [ngClass]="{'playing': playing}">
  <section class="programme">
    <img *ngIf="programme?.imageUrl" src="{{ getImageUrl(programme?.imageUrl) }}" class="programme-logo">
    <div class="programme-info">
      <h2><app-single-line [text]="getProgrammeTitle(programme) || '...'"></app-single-line></h2>
      <h3><app-single-line [text]="getProgrammeSubtitle(programme)"></app-single-line></h3>
      <p class="programme-description">{{ programme?.description || '...' }}</p>
    </div>
    <div class="track-info">
      <h1 *ngIf="track"><app-single-line [text]="track?.artistName || '...'"></app-single-line></h1>
      <h2 *ngIf="track"><app-single-line [text]="track?.name || '...'"></app-single-line></h2>
    </div>
  </section>

  <!-- absolutely positioned elements -->
  <img class="station-logo" src="{{station.image}}" />
  <div class="actions">
    <button mat-fab *ngIf="!playing" (click)="play(station)">
      <mat-icon svgIcon="play"></mat-icon>
    </button>
    <button mat-fab *ngIf="playing" (click)="pause()">
      <mat-icon svgIcon="pause"></mat-icon>
    </button>
  </div>
</div>
