<div class="app-component">

  <swiper [config]="mainConfig" #mainSwiper class="main swiper">

    <!-- Show info for radio stations -->
    <div *ngFor="let station of stations" class="pane station" [ngClass]="{'playing': isPlayingStation(station)}">
      <img class="station-logo" src="{{station.image}}" />
      <div class="now-playing mat-typography">
        <img *ngIf="programmes[station.rpId] && programmes[station.rpId].imageUrl" src="{{ getImageUrl(programmes[station.rpId].imageUrl) }}" class="programme-logo">
        <div class="programme-info">
          <h2>{{ programmes[station.rpId] && getProgrammeTitle(programmes[station.rpId]) || '...' }}</h2>
          <h3>{{ programmes[station.rpId] && getProgrammeSubtitle(programmes[station.rpId]) }}</h3>
          <p class="programme-description">{{ programmes[station.rpId] && programmes[station.rpId].description || '...' }}</p>
        </div>
        <div class="track-info">
          <h1 *ngIf="tracks[station.rpId]">{{ tracks[station.rpId] && tracks[station.rpId].artistName || '...'}}</h1>
          <h2 *ngIf="tracks[station.rpId]">{{ tracks[station.rpId] && tracks[station.rpId].name || '...'}}</h2>
        </div>
      </div>
      <div class="actions">
        <button mat-fab *ngIf="!(isPlayingStation(station))" (click)="play(station)">
          <mat-icon svgIcon="play"></mat-icon>
        </button>
        <button mat-fab *ngIf="isPlayingStation(station)" (click)="pause()">
          <mat-icon svgIcon="pause"></mat-icon>
        </button>
      </div>
    </div>

    <!-- Show info for random media that's playing -->
    <div class="pane media" [ngClass]="{'playing': isPlayingAlbum()}">
      <div class="now-playing mat-typography">
        <img src="{{ state?.media?.images ? state?.media?.images[0]?.url : '' ||  '/assets/images/misc-media.jpg' }}" class="programme-logo">
        <div class="programme-info">
          <h2 class="single-line">{{ state && state.media && state.media.albumName || '...' }}</h2>
          <h3 class="single-line">{{ state && state.media && state.media.albumArtist || '...' }}</h3>
        </div>
        <div class="track-info">
          <h1 class="single-line">{{ state && state.media && state.media.title || '...' }}</h1>
          <h2 class="single-line">{{ state && state.media && state.media.artist || '...' }}</h2>
        </div>
      </div>
    </div>

  </swiper>

  <!-- Let's have a volume gauge -->
  <!-- <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider> -->
</div>
