<div class="app-component">

  <swiper [config]="mainConfig" #mainSwiper class="main swiper">

    <!-- Show info for radio stations -->
    <app-radio-pane *ngFor="let station of stations" [playerIsIdle]="isIdle()" [playing]="isPlayingStation(station)" [station]="station" [programme]="getProgramme(station)" [track]="getTrack(station)">
    </app-radio-pane>

    <!-- Show info for random media that's playing -->
    <app-now-playing-pane [playing]="isPlayingAlbum()" [state]="state">
    </app-now-playing-pane>

  </swiper>

</div>
