.app-component {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100%;
}

.pane .now-playing {
  opacity: 0.5;
  transition: opacity ease 2s;
}

.pane.playing .now-playing {
  opacity: 1;
}
