.pane {
  width: 100%;
  box-sizing: border-box;
}

.programme-logo {
  display: block;
  width: 100%;
}

.programme-info,
.track-info {
  /deep/ h1,
  /deep/ h2,
  /deep/ h3 {
    margin-bottom: 8px;
  }
}

.now-playing .programme-info,
.now-playing .track-info {
  padding: 10px;
}

.programme-info {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(56, 63, 72);
  color: white;
}

.programme-description {
  font-size: smaller;
  color: #999;
}
