.pane {
  width: 100%;
  box-sizing: border-box;
}

.programme-logo {
  display: block;
  width: 100%;
}

.programme-info,
.track-info {
  padding: 10px;
  
  > * {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.programme-info {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(56, 63, 72);
  color: white;
}
