// Define a customised version of indigo-pink prebuilt material theme
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Overpass'
);
// From https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/indigo-pink.scss
@include mat-core($custom-typography);
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

// Generic overrides
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
